h1 {
  font-size: 20px;
}

.delim_hr {
  background-color: #657b83;
  height: 0.1em;
  width: 100%;
  display: inline-block;
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 5;
}

.full_slide {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 9;
}

.multiCol {
  display: grid;
  grid-auto-flow: column;
}

.col {
  display: table-cell;
  vertical-align: top;
  width: 50%;
  padding: 2% 0 2% 3%;
  &:first-of-type {
    padding-left: 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100%;
  width: 100%;
}

.grid_multi_col {
  grid-template-columns: 1fr 1fr;
  display: grid;
  height: 100%;
  width: 100%;
}

.SlideTitle {
  font-size: 60px;
  align-self: start;
  text-align: left;
  font-weight: bold;
}

.TitleSlide {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 0;
  grid-row-end: 1;
  font-size: 60px;
  align-self: start;
  text-align: left;
  font-weight: bold;
}

.boxTitle {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 5;
  font-size: 60px;
  align-self: center;
  font-weight: bold;
}
.boxSubTitle {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 6;
  align-self: center;
}

.footer {
  grid-row-start: 6;
  grid-row-end: 8;
}
.img_foot_1 {
  grid-column-start: 2;
  grid-column-end: 4;
  align-self: center;
  width: 80%;
}

.img_foot_2 {
  grid-column-start: 5;
  grid-column-end: 7;
  align-self: center;

  width: 80%;
}

.img_foot_3 {
  grid-column-start: 8;
  grid-column-end: 10;
  align-self: center;

  width: 80%;
}
